.message-bubble {
  color: @window_fg_color;
  border-radius: 15px;
  padding: 9px;
  background-color: mix(@window_bg_color, @window_fg_color, .05);
}

.message-list row {
  padding:0;
}

.message-item {
  margin: 5px 0 ;
}

.message-item.from-self .message-bubble {
  background-color: alpha(@accent_bg_color, 0.3);
  color: @card_fg_color;
}

.message-item:not(.has-header) .avatar-other {
  opacity: 0;
}

.reaction {
  background-color: mix(@window_bg_color, @window_fg_color, .05);
  border: 1px solid @accent_bg_color;
  border-radius: 15px;
  padding: 6px 9px;
  margin-top: 5px;
}

.quote {
  background-color: mix(@window_bg_color, @accent_bg_color, .1);
  border-left: 4px solid;
  border-left-color:  @accent_bg_color;
  border-radius: 8px;
  color: @window_fg_color;
  padding: 9px;
  margin-bottom: 9px;
}

.message-item.from-self .quote {
  border-left-color: @accent_fg_color;
}

.timestamp{
  background: white;
	padding: 3px 8px;
	border-radius:10px;
}

.emoji .message-text, .emoji.from-self .message-text{
  font-size: 3em;
}

.emoji:not(.has-attachment):not(.has-quote), .emoji.from-self:not(.has-attachment):not(.has-quote){
  background: transparent;
}

.fl-emoji-picker{
	margin: 6px;
}

group {
	margin: -10px;
	margin-bottom: 9px;
  min-width:250px;
}

.only-media {
	margin-bottom: -34px;
}

.has-header group {
	margin-top: 0;
}

.download-media {
	margin-bottom: 14px;
}
