.channel-messages .message-item.from-self .avatar-other {
  opacity: 0;
}
.channel-messages .message-item:not(.has-header) .avatar-other {
  opacity: 0;
}

.message-bubble {
  font-size: 16px;
  color: alpha(@dark_5,0.8);
  border-radius: 15px;
  box-shadow: 0 1px @card_shade_color;
  padding: 6px 9px;
  background-color: @light_2;
}

.message-item.from-self .message-bubble {
  color: @accent_fg_color;
  box-shadow: 0 1px alpha(@accent_bg_color, 0.1);
  background-color: @accent_bg_color;
}

.message-item.from-self .message-bubble link {
	color: @accent_fg_color;
}

.reaction {
  background-color: @accent_bg_color;
  border-radius: 15px;
  padding: 6px 9px;
}

.message-item.from-self .reaction{
  background-color: @accent_fg_color;
}

.message-item.from-self .reaction{
  background-color: @accent_fg_color;
}

.quote {
  border-left: 2px solid @accent_bg_color;
  padding-left: 3px;
}

.message-item.from-self .quote{
  border-left-color: @accent_fg_color;
}

.message-bubble separator {
	min-width: 5px;
}

